@font-face {
    font-family: 'nunito';
    src: 
        url('./fonts/Nunito/nunito-variablefont_wght-webfont.woff2') format('woff2'),
        url('./fonts/Nunito/nunito-variablefont_wght-webfont.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'nunito';
    src: 
        url('./fonts/Nunito/nunito-italic-variablefont_wght-webfont.woff2') format('woff2'),
        url('./fonts/Nunito/nunito-italic-variablefont_wght-webfont.woff') format('woff');
    font-style: italic;
}

