@font-face {
    font-family: 'nunito';
    src: 
        url('./font-assets/Nunito/nunito-variablefont_wght-webfont.woff2') format('woff2'),
        url('./font-assets/Nunito/nunito-variablefont_wght-webfont.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'nunito';
    src: 
        url('./font-assets/Nunito/nunito-italic-variablefont_wght-webfont.woff2') format('woff2'),
        url('./font-assets/Nunito/nunito-italic-variablefont_wght-webfont.woff') format('woff');
    font-style: italic;
}

:root {
    --crime: rgb(224, 158, 132);
    --fantasy: rgb(138, 196, 120);  
    --romance: rgb(252, 142, 184);
    --sci-fi: rgb(160, 188, 240);
    --horror: rgb(154, 142, 168);  
    --biography: rgb(244, 206, 126);
    --history: rgb(208, 178, 136);  
    --poetry: rgb(118, 198, 200); 
    --science: rgb(208, 192, 228);
    --travel: rgb(204, 220, 132); 
    --other: rgb(179, 179, 179);

    --button-hover: rgb(255, 209, 220);
}

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

html, body {
  height: 100vh;
  max-height: 100vh;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  font-family: 'nunito';
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

button {
    border: none;
    padding: 1.25rem;
}

button:hover {
    background-color: var(--button-hover);
}

.content-holder {
    align-items: center;
    justify-content: center;

    height: 100%;
}

.header {
    display: grid;
    grid-template-columns: calc(2.5rem*3) calc(2.5rem*3);
    width: 100%;
    gap: 30%;

    background-color: lavender;

    justify-content: center;
    align-items: center;
}

#branding {
    font-size: 2.5rem;
    font-weight: bold;
}

#login {
    width: calc(2.5rem*3);
    padding: 0.6rem
}

.controls {
    display: grid;
    align-items: center;
    justify-content: center;
}

#add, #delete, #update, #new {
    display: grid;
    grid-template-columns: 1rem 1fr;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.9rem 1.25rem;

    width: 10rem;
    margin: 2.5rem 0;
}

#add img,  #delete img, #update img, #new img {
    height: 1rem;
    width: auto;
}

.content {
    display: grid;
    justify-content: center;

    grid-template-columns: repeat(auto-fit, 15rem);
    grid-template-rows: repeat(auto-fit, 17.5rem);
    gap: 2.5rem;

    padding: 0 2.5rem;
}

.book {
    display: grid;
    grid-template-rows: 10.5rem 1fr;
    
    height: 100%;
    width: 100%;
    border-radius: 5%;
    padding: 1.25rem;
}

.top-part {
    display: grid;
    grid-template-columns: 1fr 2.5rem;
    gap: 0.6rem;
}

.top-part div:nth-child(1) {
    font-size: 1.25rem;
}

.bottom-part {
    display: grid;
    grid-template-rows: 1fr 1.25rem;
    gap: 0.6rem;
    justify-items: center;
}

.book-controls {
    display: grid;
    grid-template-rows: repeat(2, 2.5rem);
    gap: 0.15rem;

    justify-content: center;
    align-items: center;
}

.read, .unread, .modify, #close {
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 2rem 2rem;

    border-radius: 20%;
    padding: 1rem;
}

.read {
    background-image: url('./image-assets/eye-outline.svg');
}

.unread {
    background-image: url('./image-assets/eye-closed.svg');
}

.modify {
    background-image: url('./image-assets/cog-outline.svg');
}

#close {
    background-image: url('./image-assets/close.svg');
    width: 2rem;
    justify-self: end;
}

dialog#new-book-dialog[open] {
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
}

dialog#new-book-dialog[open] form {
    padding: 2.5rem 7.5rem;
    width: 30rem;
}

label {
    display: block;
    padding-top: 1.25rem;
    padding-bottom: 0.3rem;
    padding-left: 1.25rem;
    color: black;
    font-weight: bold;
}

input, select {
    padding: 0.3em 1.25em;
    border-radius: 7% / 50%;
    height: 2.5rem;
    width: 100%;
    border: 2px solid black;
}

#end-form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);

    column-gap: 2.5rem;
}

#book-pages {
    border-radius: 12.5% / 50%;
}

label[for='book-read'] {
    grid-column-start: 2;
    grid-row-start: 1;
    padding-left: 0;
    justify-self: center;
}

[role="switch"] {
	--height: 2.5rem;
	--width: 0.8;

	appearance: none;
	display: inline-block;
    padding: 0;
	background-color: #e5e5e5;
	height: var(--height);
	width: calc(var(--height) * calc(1 + var(--width)));
	border: 0;
	border-radius: 99em;
    transition: background-color 100ms ease-in-out;
}

[role="switch"]::after {
	content: url('./image-assets/eye-closed.svg');
	display: block;
	aspect-ratio: 1;
	background-color: white;
	border: max(2px, 0.125em) solid #808080;
	height: 100%;
	border-radius: 50%;
    transition: translate 100ms ease-in-out;
}

[role="switch"]:checked {
	background-color: #0088cc;
}

[role="switch"]:checked::after {
	border-color: #0088cc;
    content: url('./image-assets/eye-outline.svg');
	translate: calc(var(--height) * var(--width)) 0;
}

#new {
    margin: 2.5rem auto 0rem auto;
}

.removed {
    display: none !important;
}

.modify-menu-buttons {
    display: grid;
    grid-template-columns: repeat(2, 6.25rem);
    gap: 1.25rem;
}

#delete, #update {
    width: 7rem;
}
